.track {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  transition-duration: 0.3s;
}

.track:not(:last-child) {
  margin-bottom: 12px;
}

.track.selected {
  border-color: #646cff;
}

.title {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 1.2em;
}
